@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Global Css Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-ss);
}

a {
  text-decoration: none;
  color: var(--primary);
}
.wrapper {
  background-image: url("../assets/hero_section.png");
  background-position: cover;
  background-repeat: no-repeat;
  background-position: right top;
  padding: 1rem 3rem 0 3rem;
  max-width: 2000px;
  margin: auto;
}
/* Css Custom Properties */
:root {
  --primary: #272d4e;
  --secondary: #94a2b3;
  --light: #fff;
  --bg: #3789ff;
  --btn-color: #ffba49;

  --ff-ss: "Montserrat", sans-serif;

  --fw-n: 700;
  --fw-m: 600;
  --fw-s: 500;

  --fs: 18px;
  --fss: 16px;
}

.menu-icon {
  display: none;
}

i {
  font-size: 32px;
  /* border: 4px solid red; */
}

/* Navbar styles */
.container__navbar {
  padding: 1rem auto 0 auto;
}

/* .container__navbar .nav__links { */
/* flex: 2; */

/* border: 4px solid teal; */
/* } */
.container__navbar nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__links a {
  font-size: var(--fss);
  font-weight: var(--fw-m);
  margin-right: 1.875rem;
}

.container__navbar .btn {
  /* margin-inline-start: auto; */
}
.container__navbar .btn a {
  padding: 12px 17px;
  border-radius: 5px;
  font-weight: var(--fw-m);
  font-size: 14px;
}
.container__navbar .btn a:first-child {
  margin-right: 1.875rem;
  border: 3px solid var(--bg);
  color: var(--bg);
}

.container__navbar .btn a:last-child {
  background-color: var(--bg);
  color: var(--light);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* End of navbar styles */

/* Hero session styles */

.hero__container {
  margin-top: 43px;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.hero__container h1 {
  font-size: 65px;
  line-height: 65px;
  color: var(--primary);
}
.hero__container p {
  margin-top: 29px;
  color: var(--secondary);
  width: 70%;
}
.btn__apply {
  margin-top: 3rem;
}
.hero__container a {
  background: var(--bg);
  color: var(--light);
  padding: 22px 41px;
  border-radius: 5px;
  font-weight: var(--fw-m);
}
.hero__container img {
  width: 100%;
}

.pool__text {
  text-align: center;
  padding-bottom: 2rem;
  /* margin:  0; */
}

.pool__text h1 {
  font-size: 2.5rem;
  line-height: 70px;
  color: var(--primary);
  font-weight: 600;
}
.pool__text p {
  color: var(--secondary);
  max-width: 960px;
  margin: auto;
}
/* End of Hero session styles */

/* Work session styles */
.work__time {
  max-width: 2000px;
  margin: auto;
  padding: 0rem 3rem 0 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 0rem;
}
.work__time img {
  max-width: 100%;
}

/* .work__time .learn__more{
  border: 4px solid red;
  display: flex;
  align-items: center;
} */

.work__time div:first-child {
}

.work__time div:first-child div {
  margin-top: -2rem;
  padding-top: 0rem;
  padding-left: 6.875rem;
  padding-right: 1rem;
  /* transform: translateX(140px); */
  /* border: 5px solid teal; */
}

.work__time div:nth-of-type(2) {
  /* border: 5px solid teal; */
  padding-top: 2rem;
}

.work__time div:nth-of-type(2) div {
  margin-top: -3rem;
  padding-left: 3rem;
  padding-right: 1rem;
  padding-top: 0rem;
}
.work__time div:last-child img {
  padding-top: 8rem;
  /* border: 5px solid teal;  */
}
.work__time div:last-child div {
  margin-top: -1rem;
  padding-left: 3rem;
  padding-right: 1rem;
  padding-top: 0rem;
}
.work__time div:first-child h1,
.work__time div:nth-of-type(2) h1,
.work__time div:last-child h1 {
  font-weight: 600;
  color: var(--primary);
  /* border: 5px solid teal; */
}
.work__time div:first-child p,
.work__time div:nth-of-type(2) p,
.work__time div:last-child p {
  margin-top: 1rem;
  max-width: 400px;
  font-size: 16px;
  line-height: 30px;
  color: var(--secondary);
  margin-bottom: 1rem;
}

.work__time div:first-child a,
.work__time div:nth-of-type(2) a,
.work__time div:last-child a {
  color: var(--bg);
  font-weight: var(--fw-m);
}

/* End Work session styles */

/* Step session */
.step__container {
  background-image: url("../assets/section.png");
  background-position: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10rem 3rem 10rem 3rem;
  max-width: 2000px;
  margin: auto;
}

.step__container .step__platform {
  display: grid;
  grid-template-columns: 30% 40%;
  color: var(--light);
  gap: 3rem;
  padding-left: 5rem;
  align-items: center;
  transform: translateY(-3rem);
}

.step__container .step__platform img,
.talent__platform img {
  max-width: 100%;
}
.step__container .step__platform h1 {
  max-width: 18.75rem;
}

.step__platform p,
.talent__platform p {
  margin-top: 20px;
  line-height: 30px;
  /* border: 4px solid red; */
}
.step__platform .btn__step {
  margin-top: 2.5rem;
}
.talent__platform .btn__step {
  margin-top: 2rem;
  padding-bottom: 5rem;
}
.step__platform .btn__step a {
  padding: 20px 75px;
  background-color: var(--btn-color);
  border-radius: 5px;
  font-weight: var(--fw-m);
  color: var(--light);
}

.talent__platform .btn__step a {
  padding: 20px 75px;
  background-color: var(--btn-color);
  border-radius: 5px;
  font-weight: var(--fw-m);
  color: var(--light);
}
.talent__platform {
  display: grid;
  grid-template-columns: 32% 30%;
  color: var(--light);
  gap: 2rem;
  align-items: center;
  transform: translateY(12rem);
  justify-content: center;
}

.talent__platform div:first-child {
  /* border: 4px solid red; */
  /* margin-top: -4rem; */
}

/* End of Step session */
.footer__image {
  margin: 0 5rem;
  transform: translateY(8rem);
  z-index: -1;
  position: relative;
}
.footer__image img {
  max-width: 100%;
}

/* Footer session */
.footer {
  padding: 1rem 3rem 1rem 3rem;
  max-width: 2000px;
  margin: auto;
  background-color: var(--bg);
  color: var(--light);
}

.footer a {
  color: var(--light);
  display: block;
}

.footer .footer__container {
  /* border: 4px solid red; */
  padding-top: 4.5rem;
  display: grid;
  grid-template-columns: 30% 10% 20% 10%;
  justify-content: space-around;
  gap: 3rem;
}

.footer__container div:first-child {
  display: flex;
  justify-content: flex-end;
  /* border: 4px solid red; */
  align-self: flex-start;
}
.footer__container div:first-child img {
  max-width: 100%;
}
.footer__container .quick__links p,
.footer__container .company a,
.footer__container .support p {
  margin-top: 0.5rem;
  font-size: 14px;
}
.footer__container .support {
  transform: translateX(-6rem);
}

.footer .talentco__footer {
  margin-top: 105px;
  text-align: center;
  font-size: 16px;
  font-weight: var(--fw-m);
}
/* End of Footer session */

/* Media Queries for Tablet */
@media screen and (max-width: 1269px) {
  .nav__links {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .nav__links,
  .container__navbar .btn {
    display: none;
  }
  .menu-icon {
    display: inline;
  }
  .hero__container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .hero__container p {
    width: 100%;
    text-align: center;
  }
  .hero__container h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  .btn__apply {
    display: flex;
    justify-content: center;
  }
  .hero__container a {
    background: var(--bg);
    color: var(--light);
    padding: 16px 32px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: var(--fw-m);
  }

  .hero__container div:last-child {
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .hero__container div:last-child img {
    /* border: 4px solid blue; */
    /* display: none; */
    width: 100%;
  }
  .pool__text {
    margin-top: 3rem;
  }
  .pool__text h1 {
    line-height: 50px;
    margin-bottom: 1rem;
  }
  .work__time {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .work__time div:last-child img {
    padding-top: 2rem;
  }
  .step__container {
    /* padding-bottom: 5rem; */
  }
  .step__container .step__platform {
    grid-template-columns: 1fr;
    gap: 0rem;
    transform: translateY(0rem);
    padding-left: 1rem;
  }
  .talent__platform {
    grid-template-columns: 1fr;
    gap: 1rem;
    transform: translateY(5rem);
  }
  .footer__image {
    margin: 0 0.5rem;
    transform: translateY(2rem);
  }
  .footer__container div:first-child {
    display: flex;
    justify-content: flex-start;
  }
  .footer .footer__container {
    padding-top: 4.5rem;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
  .footer__container .support {
    transform: translateX(0rem);
  }
}

/* End of Media Queries for Tablet */

/* Media Queries for Mobile */
@media screen and (max-width: 579px) {
  .wrapper,
  .work__time,
  .step__container {
    padding: 1rem 1rem 0 1rem;
  }
  .hero__container p {
    width: 100%;
    text-align: center;
    line-height: 1.5rem;
  }
  .hero__container h1 {
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
  }
  .pool__text h1 {
    font-size: 2rem;
    line-height: 3rem;
  }
  .pool__text p {
    line-height: 1.5rem;
  }
  .work__time div:first-child div,
  .work__time div:nth-of-type(2) div,
  .work__time div:last-child div {
    padding-left: 2rem;
  }
}
/* End of Media Queries for Mobile */
